{% extends 'main.html' %}

{% block content %}

    <!-- <div class="container"> -->
        <table class="items-table">
            <thead>
                <tr>
                    <td><h5>model</h5></td>
                    <td><h5>cpu</h5></td>
                    <td><h5>ram</h5></td>
                    <td><h5>hdd</h5></td>
                    <td><h5>gpu</h5></td>
                    <td><h5>touch</h5></td>
                    <td><h5>rotation</h5></td>
                    <td><h5>illum k</h5></td>
                    <td><h5>orig win</h5></td>
                    <td><h5>resolution</h5></td>
                    <td><h5>screen  s</h5></td>
                    <td><h5>sound  t</h5></td>
                    <td><h5>price</h5></td>
                    <td><h5>disc</h5></td>
                    <td><h5>is  available</h5></td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{% url 'update-item' item.id %}">{{ item.model.manufacturer }} {{ item.model }}</a></td>
                        <td>{{ item.cpu_type.name }}&nbsp;{{ item.cpu_type }}@{{ item.cpu_speed }}GHZ</td>
                        <td>{{ item.ram_cache}}GB {{ item.ram_type }}</td>
                        <td>{{ item.hdd_size }}{% if item.hdd_size < 20 %}TB{% else %}GB{% endif %}&nbsp;{{ item.hdd_type }}</td>
                        <td>{{ item.gpu }}</td>
                        <td>{{ item.touch_screen }}</td>
                        <td>{{ item.rotation }}</td>
                        <td>{{ item.illuminated_keyboard }}</td>
                        <td>{{ item.original_windows }}</td>
                        <td>{{ item.screen_resolution }}</td>
                        <td>{{ item.screen_size }} inch</td>
                        <td>{{ item.sound_type }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.disc }}</td>
                        <td>{{ item.is_available }}</td>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>

        <span class="step-links container-fluid d-flex justify-content-around">
            {% if items.has_previous %}
                <a href="?p={{ items.previous_page_number }}{% if filter %}&f={{ filter }}{% endif %}">&laquo; previous</a>
            {% endif %}
        
            {% if items.has_next %}
                <a href="?p={{ items.next_page_number }}{% if filter %}&f={{ filter }}{% endif %}">next &raquo;</a>
            {% endif %}
        </span>
    <!-- </div> -->

{% endblock %}