{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <form  method="POST" action="">
            {% csrf_token %}

            <div class="mb-3">
                <label for="i-1" class="form-label">CPU Manufacturer</label>
                <input type="text" class="form-control" name="manufacturer" id="i-1" placeholder="CPU Manufacturer" list="cpu">
                <datalist id="cpu">
                    {% for cpu in cpus %}
                        <option value="{{ cpu }}"/>
                    {% endfor %}
                </datalist>
            </div>

            <div class="mb-3">
                <label for="i-2" class="form-label">Type</label>
                <input type="text" class="form-control" name="type" id="i-2" placeholder="Type">
            </div>

            <div class="mb-3">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary mb-3 container-fluid">Cancel</a>
                <input type="submit" class="btn btn-success" id="i-4" value="Submit">
            </div>
        </form>
    </div>

{% endblock %}