{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <form  id="item-form" method="POST" action="">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="mb-3">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary mb-3 container-fluid">Cancel</a>
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>

    <script>
        window.addEventListener('load', () => {
            form = document.getElementById('item-form')
            elem = form.querySelector('input[name="cpu"]')

            elem.addEventListener('paste', (e) => {
                e.preventDefault();

                clipboardData = e.clipboardData.getData('text/plain')

                values = clipboardData.split('\t')
                values2 = values.slice(3)
                values2.splice(2, 1)
                a = values2.splice(1, 2)
                a = a.join(' @ ') + 'GHz'
                console.log(a)
                values2 = [...values2.slice(0, 1), a, ...values2.slice(1)]
                console.log(values2)

                inputs = form.querySelectorAll('input')
                selects = form.querySelectorAll('select')

                // set model
                for (let option of selects[0].options) {
                    if (option.text === values[3].toLowerCase().trim() /* model */) {
                        option.selected = true
                        break;
                    }
                }

                // set cpu type
                for (let option of selects[1].options) {
                    if (option.text === values[5].toLowerCase().trim() /* cpu */) {
                        option.selected = true
                        break;
                    }
                }

                inputs[1].value = values[6] // cpu speed
                inputs[2].value = values[7] // ram speed
                inputs[3].value = values[9] // hdd size
                inputs[4].checked = values[13].toLowerCase().trim() == 'n' ? false : true // touch
                inputs[5].value = values[14].toLowerCase().trim() // rotation
                inputs[6].checked = values[15].toLowerCase().trim() == 'n' ? false : true // illuminated keyvaluesoard
                inputs[7].checked = values[16].toLowerCase().trim() == 'n' ? false : true //original windows
                inputs[8].value = values[11] // screen size
                inputs[9].value = parseInt(values[21]) // price
                inputs[11].checked = true // is available
                inputs[12].value = values[8].toLowerCase().trim() // ram type
                inputs[13].value = values[10].toLowerCase().trim() // hdd type
                inputs[14].value = values[12].toLowerCase().trim() // gpu
                inputs[15].value = values[17].toLowerCase().trim() // screen resolution
                inputs[16].value = values[18].toLowerCase().trim() // sound type
            })
        })
        
    </script>

{% endblock %}