{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <hr>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="i-1" class="form-label">Manufacturer</label>
                <input type="text" class="form-control" name="manufacturer" id="i-1" placeholder="Manufacturer" list="manufacturer">
                <datalist id="manufacturer">
                    {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer }}"/>
                    {% endfor %}
                </datalist>
            </div>

            <div class="mb-3">
                <label for="i-2" class="form-label">Type</label>
                <input type="text" class="form-control" name="type" id="i-2" placeholder="Type" list="type">
                <datalist id="type">
                    {% for type in types %}
                        <option value="{{ type }}"/>
                    {% endfor %}
                </datalist>
            </div>

            <div class="mb-3">
                <label for="i-3" class="form-label">Model</label>
                <input type="text" class="form-control" name="model" id="i-3" placeholder="Model">
            </div>

            <!-- <div class="mb-3">
                <label for="i-3" class="form-label">Model</label>
                <input type="text" class="form-control" name="model" id="i-3" placeholder="Model">
            </div> -->

            <div class="mb-3">
                <label for="i-4" class="form-label">Note</label>
                <input type="text" class="form-control" name="note" id="i-4" placeholder="Note">
            </div>

            <div class="mb-3">
                <label for="i-5" class="form-label">Images</label>
                <input type="file" multiple class="form-control" name="images" id="i-5">
            </div>

            <!-- <div class="mb-3">
                

                <label class="form-label">Screen Resolution, Screen Size, Sound Type, Rotation, Touch Screen, Illuminated Keyboard, Original Windows</label>
                <br>
                {% for specification in specifications %}

                    <input type="checkbox" class="form-check-input" name="{{ specification.id }}" id="{{ specification.id }}">
                    <label for="{{ specification.id }}" class="form-label">
                        {{ specification.screen_resolution }}, 
                        {{ specification.screen_size }},
                        {{ specification.sound_type }},
                        {{ specification.rotation }},
                        {{ specification.touch_screen }},
                        {{ specification.illuminated_keyboard }},
                        {{ specification.original_windows }}
                    </label>
                    <br>

                {% endfor %}
            </div> -->

            <div class="mb-3">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary mb-3 container-fluid">Cancel</a>
                <input type="submit" class="btn btn-success" id="i-4" value="Submit">
            </div>
            
        </form>
    </div>

{% endblock %}